# Ignorar archivos de configuración que contengan credenciales
config.py
.env
*.env
# Ignorar archivos de compilación o temporales
*.pyc
__pycache__/
*.log

# Ignorar el entorno virtual
venv/
basura/
logs/
antiguos/